<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>READ</title>
    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">



  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/7f873b899e.js" crossorigin="anonymous"></script>


  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

    <section class="colored-section" id="title">

        <div class="container-fluid ">
    
          <!-- Nav Bar -->
    
          <nav class="navbar navbar-expand-lg navbar-dark navbar-read">
    
            <a class="navbar-brand" >JOURNALED</a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
            </button>
    
           
              <ul>
                <li><a href="/" style="color:white;">HOME</a></li>
              </ul>
    
          
          </nav>

        </div>
    
      </section>

      <section class="white-section cardpost cards" id="features">

        <div class="container-fluid " >
            <div class="card posts">
                <div class="card-body card-heading">
                  <h1 class="card-title"><%=startingContent%></h1>
                
            </div>


  <%  posts.forEach(function(post){ %>

    <div class="card posts " >
        <div class="card-body" >
          <h1 class="card-title"><%=post.title%></h1>
          <p class="card-text"><%=post.content.substring(0, 100) + " ..."%></p>
          <a href="/posts/<%=post.id%>">Read more</a>
        
    </div>

  


    <% }) %>
            </div>
    
            
          </div>
        </div>
      </section>

      <footer class="white-section" id="footer">
        <div class="container-fluid">
          <i class="social-icon fab fa-lg fa-facebook-f"></i>
          <i class="social-icon fab fa-lg fa-twitter"></i>
          <i class="social-icon fab fa-lg fa-instagram"></i>
          <i class="social-icon fas fa-lg fa-envelope"></i>
        </div>
      </footer>
    
</body>
</html>