<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
  
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">


  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/7f873b899e.js" crossorigin="anonymous"></script>


  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>

<body>

  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="">JOURNALED</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#usage">Use</a>

            </li>
            
          </ul>

        </div>
      </nav>


      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">Write your own Blog or read those written by others </h1>
          
        </div>

        <div class="col-lg-6">
          <img class="title-image" src="/images/compose2.png" alt="iphone-mockup">
        </div>

      </div>

    </div>

  </section>


  <!-- Features -->

  <section class="white-section" id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-6">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Easy to use.</h3>
          <p>So easy to use, anyone can use it without any trouble.</p>
        </div>

        <div class="feature-box col-lg-6">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3 class="feature-title">Open to all</h3>
          <p>Anyone can write here.</p>
        </div>

        
      </div>
    </div>
  </section>


  <!--Usage-->
  <section class="colored-section" id="usage">
    <div class="container-fluid">
    <h2 class="section-heading">Click to read or write</h2>

   
    
    <a class="nav-link action" href="/compose">
        <button class="download-button   btn btn-lg btn-dark" type="button"><i class="fa-solid fa-pen-nib"></i> Write</button>
        <p style="color:white">Click here to write blogs</p>
    </a>
    <a class="nav-link action" href="/home">
        <button class="download-button   btn btn-lg btn-dark" type="button" ><i class="fa-solid fa-regular fa-book-open"></i> Read</button>
        <p style="color:white">Click here to read blogs</p>
    </a>
    </div>
  </section>

 



  <!-- Pricing -->

  <section class="white-section" id="pricing">

    <h2 class="section-heading">A Plan for Every reading enthusiast.</h2>
    <p>Simple and affordable price plans for you.</p>

    <div class="row">

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Beginner</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">Free</h2>
            <p>10 random blogs per day to read</p>
            <p>Can write 2 blog per day</p>
            <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Writer</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">$20 / mo</h2>
            <p>20 random blogs per day</p>
            <p>Unlimited blog writing</p>
            <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Reader and Writer</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">$50 / mo</h2>
            <p>Unlimited reading</p>
            <p>Unlimited writing</p>
            <p>Tailored Blog recommendation </p>
            <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>

          </div>
        </div>
      </div>



    </div>

  </section>




  <!-- Footer -->

  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <i class="social-icon fab fa-lg fa-facebook-f"></i>
      <i class="social-icon fab fa-lg fa-twitter"></i>
      <i class="social-icon fab fa-instagram fa-lg"></i>
      <i class="social-icon fas fa-envelope fa-lg"></i>
    </div>
  </footer>


</body>

</html>
